body {
    margin:0 auto;
}

html{
    scroll-behavior: smooth;
    font-family:arial;
}

@font-face  {
    font-family: 'font3';
    src: url('FulboArgenta-7B9G4.ttf');
}

/* Header start */

#header{
    height: 70px;
    width: 100%;
    display :flex;
    position:fixed;
    top:0;
    background:linear-gradient(#ffffff,#ffffff);
    z-index: 100;
}

.hd{
    height: 60px;
    width: 100%;
}
img{
    height: 40px;
    width: auto;
    padding: 6px;
    padding-left:50px;
    margin-top:5px;
}

.ckbt{
    height: 40px;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    float: right;
    display: none;
}

#cheak{
    display: none;
}

.nev{
    display: flex;
    flex-direction: right;
    width: 470px;
    list-style:none;
    color: black;
    text-decoration:none;
    display:flex;
    padding-left: 0px;
    margin-top:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, 
#ff5e00, #ff009d, #8f00ff, #0003ff);
    background-size: 200% 200%;
    margin-right: 12px;
    animation: nevi 5s ease infinite;
}


@keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.nev a{
    font-size:15px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-left: 0px;
    margin-right: 2px;
    text-decoration:none;
    color: #000000;
    background-color: white;
    transition: 0.5s ease;
    border: none;
    
}

.nev:nth-child(3){
    padding-right: 0px;
    margin-right: -2px;
}


.nev a:hover{
    height: auto;
    width: 30px;
    background-color: rgba(0,0,0, 0.0);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: #ffffff;
}

.nev a:active{
    background-color: rgba(0,0,0, 0.0);
}


/* body-1 start */

.hd19{
    display: none;
}


.sec1{
    height:500px;
    width:100%;
    background:linear-gradient(#f7f7f7,#f7f7f7);
    display:flex;
    padding-top:70px;
}
.sec1-1{
    height:100px;
    width: 50%;
    margin: 50px;
    justify-content:center;
    margin-left:70px;
}
.hdt2{
    font-size:50px;
    colour:red;
    display:inline-block;
    height: 25px;
}
.hdt3{
    font-size:15px;
    height: 30px;
    width: auto;
    margin-top:60px;
}
.hd1{
    height:350px;
    width: auto;
    margin-top:60px;
    margin-right:70px;
    transition:all 0.3s ease;
}
.hd1:hover{
    transform: scale(1.05);
}
.btn1{
    height:30px;
    width:130px;
    outline:none;
    border:none;
    margin-top:30px;
    background:linear-gradient(45deg, #15b6ff,#95f5ff);
    colour:#ffffff;
    text-decoration: none;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #2b6dff), var(--c2, #95e0ff) 51%, var(--c1, #2b6dff)) var(--x2, 0)/ 200%;}

.btn1:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #6acbff;
}

.btn1 a{
    text-decoration: none;
    color: black;
}


/* body-1 end */
/* body-2 start */

.sec2{
    margin-top:70px;
    text-align:center;
    line-height:20px;
}
.ctgtbl{
    height: 50px;
    width: 70%;
    border-radius:7px;
    margin-left:150px;
}

.ctg1{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:60px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #ffc700), var(--c2, #fff4aa) 51%, var(--c1, #ffc700)) var(--x2, 0)/ 200%;}

.ctg1:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #ffe740;
}

.ctg2{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:30px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #7aff00), var(--c2, #caffaa) 51%, var(--c1, #7aff00)) var(--x2, 0)/ 200%;}

.ctg2:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #91ff80;
}
.ctg3{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:30px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #ff00f1), var(--c2, #f4aaff) 51%, var(--c1, #ff00f1)) var(--x2, 0)/ 200%;}

.ctg3:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #ff40fc;
}

#list1{
    list-style:none;
    text-decoration:none;
    display:flex;
    padding-right:20px;
    padding-top:20px;
    padding-left:120px;
    text-align:center;
}
#list1 li .a1{
    font-size:15px;
    padding-right:120px;
    text-decoration:none;    
    colour:black;
    padding-top:20px;
    padding-left:45px;
}
#list1 li .a2{
    font-size:15px;
    padding-right:120px;
    text-decoration:none;    
    colour:black;
    padding-top:20px;
    padding-left:65px;
}
#list1 li .a3{
    font-size:15px;
    padding-right:120px;
    text-decoration:none;    
    colour:black;
    padding-top:20px;
    padding-left:68px;
}
#list li a:hover{
    height: auto;
    width: 20px;
    transition-duration:0.5s;
}
#h4{
    margin-top:50px;
}
.sec2t2{
    font-size:15px;
}
.pto1{
    height: 260px;
    width:100%;
    display:flex;
    margin-right:1px;
    flote:left;
    margin-bottom:20px;
    backgrond:linear-gradient(red,green);
    
    
}
.pto1 img{
    height: 190px;
    width: auto;
    transition-duration:0.5s;
}
.pto1 img:hover{
    transform:scale(1.08);
    transition: all 0.5s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
hr{
    border:none;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mcro{ font-size:40px; background:linear-gradient(90deg, #ca9e00, #cac287); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
   text-align:center;
   text-stroke-width:10px;
   text-stroke-color:red;
}
.aa1{
    font-size:17px;
    margin:2px;
}

.ctg-s1{
    display:flex;
}
#ctg11{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:377px;
    margin-bottom:50px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #ffc700), var(--c2, #fff4aa) 51%, var(--c1, #ffc700)) var(--x2, 0)/ 200%;}

#ctg11:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #ffe740;
}

#ctg12{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:377px;
    margin-bottom:50px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #7aff00), var(--c2, #caffaa) 51%, var(--c1,#7aff00 )) var(--x2, 0)/ 200%;}

#ctg12:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #8fff00;
}
#ctg13{
    height: 40px;
    width: 22%;
    text-align:center;
    padding-top:17px;
    border-radius:8px;
    margin-left:377px;
    margin-bottom:50px;
    font-weight:600;
    transition-duration:0.5s;
    background: linear-gradient(90deg, var(--c1, #ff00f1), var(--c2, #f4aaff) 51%, var(--c1, #ff00f1)) var(--x2, 0)/ 200%;}

#ctg13:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #ff00f1;
}
/* body-1 end */
/* footer start */

footer{
    height: 220;
    width: 100%;
    background-color: black;
    padding-bottom: 20px;
    
}
.lst{
    display: flex;
}
h3{
    colour:#2600a4;
    margin-left:40px;
    font-size:25px;
    height: 20px;
    width:100px;
    
}
.ft1{
    list-style:none;
    margin-left:0px;
    
    
}
.fd1{
    margin-left:50px;
    margin-top:20px;
}

#ft2{
    list-style:none;
    margin-left:0px;
    padding-right:70px;
}
#ft2 a{
    font-size: 15px;
    text-decoration:none;
}
.fd2{
    margin-left:50px;
    margin-top:20px;
}

.fimg1{
    height: 170px;
    width: auto;
}

.fimg2{
    height: 110px;
    width: auto;
    margin-top:30px;
}

h6{
    font-size:15px;
    height: 10px;
    margin-top:10px;
}

input{
    height: 20px;
    width: 200px;
    margin-top:10px;
    background:linear-gradient(45deg, #ff9d00, #eeff40, #afff6a);
    animation:anima 5s ease-in infinite;
    border: none;
    transition-duration:1s;
    border-top-left-radius:2px;
    border-bottom-left-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-size: 200% 200%;
   } 
@keyframes anima{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.ml{
    line-height:1px;
}

.end{
    height: 26px;
    width: 26px;
    padding-left:5px;
    margin-top:70px;
    text-align:center;
    margin-left:1px ;
    
}
.snd{
    margin-top:20px;
    height: 40px;
    width: 150px;
}

h4{
    font-size:20px;
}

.copyr{
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
}

/* footer end */
.pto-1{
    height: 450px;
    width: 100%;
}
.pto-1 img{
    height: 343px;
    width: auto;
    transition-duration:0.5s;
}

.pto-1 img:hover{
    transform:scale(1.08);
    transition: all 0.5s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;}

.pto-2 img{
    height: 177px;
    width: auto;
    padding-bottom: 50px;
    transition-duration:0.5s;
}
.pto-2 img:hover{
    transform:scale(1.08);
    transition: all 0.5s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;}
.ftt1{
    height: 200px;
    width: 92%;
    border-radius: 20px;
    background: linear-gradient(45deg, #ff407e, #ffa96a, #fffc6a);
    background-size: 200% 200%;
    animation: anim 3s ease-in-out infinite;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

@keyframes anim{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.nte1{
    font-size: 30px;
}

@media(max-width:768px){
    
    .header{
       position: fixed;
       z-index: 100;
   }
    .ckbt{
    height: 35px;
    width: auto;
    margin-top: 5px;
    margin-right:20px;
    float: right;
    display: block;
    }

    #cheak{
    display: none;
    }
    
    
    
   .lgo{
       transform: scale(0.8);
       margin-left: -30px;
   }
   
  .nev{
    display:block;
    width: 250px;
    height: 300px;
    list-style:none;
    text-decoration:none;
    padding-left: 0px;
    margin-top:0px;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: right;
    align-items: right;
    transition-duration: 0.7s;
    margin-left: -690px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(45deg, #ff8800, #fff100, #b9ff00, #50ff00);
    opacity: 0.75;
    background-size: 200% 200%;
    animation: nevi 3s ease-in-out infinite;
  }
  
  @keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

  
  #cheak:checked ~ .nev{
        display: block;
        margin-left: -320px;
        transition-duration: 0.7s;
    }
  
  #cheak:checked ~ .ckbt{
      transform: rotate(45deg);
  }
  
 .nev a{
     background-color: rgba(0,0,0,0.0);
     text-align: right;
     height: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 130px;
     padding-right: 30px;
     width: 200px;
     color: black;
     line-height: 60px;
     margin-top: 150px;
     margin-right: 3px;
     font-family: font3;
 }
    .nev li:nth-child(1){
        padding-top: 50px;
        background-color: rgba(0,0,0,0.0);
        margin-top: -50px;
        margin-bottom: 1.5px;
        margin-right: 3px;
    }
    
    .nev li:nth-child(4){
        padding-bottom: 59px;
        background-color: rgba(0,0,0,0.0);
        margin-top: 1.5px;
        margin-bottom: 1.5px;
        border-bottom-right-radius: 15px;
        margin-right: 3px;
    }

/* section 1 */

.hd1{
    display: none;
}

.hd19{
    display: block;
}

.sec1{
    display: inline-block;
}

.hd19{
    height: 150px;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    margin-left: 67px;
    margin-top: 30px;
}

.sec1-1{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.sec1-1 h2{
    font-size: 40px;
    text-align: center;
    margin-left: 52px;
}

.sec1-1 h6{
    font-size: 15px;
    width: 260px;
    margin-left: 67px;
    margin-top: 20px;
}

.sec1-1 button{
    height: 30px;
    width: 100px;
    margin-left: 147px;
    margin-top: 40px;
}



   
    /* section 2 */

.sec2{
    transform: scale(0.7);
}

#list1{
    margin: 0 auto;
    display: block;
}

#list1 div{
    
}

.ctg1{
    padding-left: 0px;
    padding-right: 130px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.ctg2{
    padding-left: 0px;
    padding-right: 130px;
    margin-left: -20px;
    margin-bottom: 10px;
    color: black;
}

.ctg3{
    padding-left: 0px;
    padding-right: 130px;
    margin-left: -20px;
    margin-bottom: 10px;
}
  

#ctg11{
    height: 40px;
    width: 185px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#ctg12{
    height: 40px;
    width: 185px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

#ctg13{
    height: 40px;
    width: 185px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pto1{
    display: block;
    height: 700px;
    justify-content: center;
    text-align: center;
    margin-left: -20px;
}

.pto-1{
    display: block;
    height: 1100px;
    justify-content: center;
    text-align: center;
    margin-left: -20px;
}

.pto-2{
    display: block;
    height: 700px;
    justify-content: center;
    text-align: center;
    margin-left: -45px;
}

.pto1 img{
    margin-top: 7px;
}

  
  
  /* footer */
  
  .lst{
      display: block;
      justify-content: center;
  }
  
  .fimg2{
      display: none;
  }
  
  .fd1, .fd2{
      text-align: center;
      margin-left: 100px;
      display: inline-block;
  }
  
  .lst h3{
      font-size: 20px;
  }
  
  .ml{
      margin:0 auto;
      text-align: center;
  }
  
  .snd{
      margin-left: 110px;
      font-size: 12px;
  }
  
  footer h6{
      font-size: 12px;
  }
}
