html{
    scroll-behavior: smooth;
}

/* Header start */

@font-face  {
    font-family: 'font3';
    src: url('FulboArgenta-7B9G4.ttf');
}

@font-face  {
    font-family: 'font2';
    src: url('Restand-ZV63K.ttf');
}

@font-face  {
    font-family: 'font1';
    src: url('BecauseYouWereHome.ttf');
}

header{
    height: 70px;
    width: 100%;
    
    display :flex;
    position:fixed;
    top:0;
    background:linear-gradient(#ffffff,#ffffff);
}

.hd{
    height: 60px;
    width: 100%;
}
img{
    height: 40px;
    width: auto;
    padding: 6px;
    padding-left:50px;
    margin-top:5px;
}

.ckbt{
    height: 40px;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    float: right;
    display: none;
}

#cheak{
    display: none;
}

.nev{
    display: flex;
    flex-direction: right;
    width: 470px;
    list-style:none;
    color: black;
    text-decoration:none;
    display:flex;
    padding-left: 0px;
    margin-top:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, 
#ff5e00, #ff009d, #8f00ff, #0003ff);
    background-size: 200% 200%;
    margin-right: 12px;
    animation: nevi 5s ease infinite;
}


@keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.nev a{
    font-size:15px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-left: 0px;
    margin-right: 2px;
    text-decoration:none;
    color: #000000;
    background-color: white;
    transition: 0.5s ease;
    border: none;
}

.nev:nth-child(3){
    padding-right: 0px;
    margin-right: -2px;
}


.nev a:hover{
    height: auto;
    width: 30px;
    background-color: rgba(0,0,0, 0.0);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: #ffffff;
}

.nev a:active{
    background-color: rgba(0,0,0, 0.0);
}

/* Header End*/

/* Section 1 */

.sec1{
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    background-color: #ededed;
    line-height: 15px;
}

.sec1 h1{
    color: #7200ed;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sec1 h2{
    color: black;
    font-size: 30px;
}

.sec1 h3, .sec1 h4{
    color: black;
}


/* section 2 */

.sec2{
    height: 380px;
    width: 100%;
}

#signin{
    height: 380px;
    width: 40%;
    background: linear-gradient(45deg, #ed0058, #ed00e0, #5e00ed);
    margin: 0 auto;
    background-size: 200% 200%;
    animation: bgn 4s ease infinite;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

@keyframes bgn {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#signin h3{
    font-family: font2;
    padding-top: 79px;
    color: #f8ff00;
}

#signin input{
    height: 25px;
    width: 65%;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

#signin input:hover{
    border: 1.5px solid black;
}

#signin input:nth-child(5){
    background-color: #ce55ff20;
    color: white;
    border: 1.5px solid black;
}

#signin input:nth-child(5):hover{
    background-color: black;
}

#signin h6{
    font-size: 12px;
    color: white;
    margin-top: 10px;
}

#signin a{
    text-decoration: none;
    color: yellow;
}


/* section 3 */

.sec3{
    height: 500px;
    width: 100%;
}

.sec3 div{
    height: 450px;
    width: 50%;
    background: linear-gradient(45deg, #ff9d00, #ffdc00, #b9ff00);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px;
    background-size: 200% 200%;
    animation: sup 4s ease infinite;
}

@keyframes sup {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.sec3 input{
    height: 25px;
    width: 55%;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    background-color: black;
    color: white;
    
}

.sec3 input::placeholder{
    color: #e3ff00;
}

.sec3 h3{
    font-family: font2;
    padding-top: 50px;
    color: blackl;
}

.sec3 h6 a{
    text-decoration: none;
    color: #0096ff;
}

.sec3 select{
    height: 25.4px;
    width: 56%;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    background-color: black;
    color: #e3ff00;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white;
    -webkit-background-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill{
    -webkit-text-fill-color: white;
    -webkit-background-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

#sub, #re{
    height: 25.4px;
    width: 134px;
}

/* footer start */

footer{
    height: 220;
    width: 100%;
    background-color: black;
    padding-bottom: 20px;
    justify-content: center;
    margin: auto;
}
.lst{
    display: flex;
}
footer h3{
    colour:#2600a4;
    margin-left:40px;
    font-size:25px;
    height: 20px;
    width:100px;
    
}
.ft1{
    list-style:none;
    margin-left:0px;
}
.fd1{
    margin-left:50px;
    margin-top:20px;
}
.ft1 a{
    text-decoration: none;
}

#ft2{
    list-style:none;
    margin-left:0px;
    padding-right:70px;
}
#ft2 a{
    font-size: 15px;
    text-decoration:none;
}
.fd2{
    margin-left:50px;
    margin-top:20px;
}

.fimg1{
    height: 170px;
    width: auto;
}

.fimg2{
    height: 110px;
    width: auto;
    margin-top:30px;
}

footer h6{
    font-size:15px;
    height: 10px;
    margin-top:10px;
}

footer input{
    height: 20px;
    width: 200px;
    margin-top:10px;
    background:linear-gradient(45deg, #ff9d00, #eeff40, #afff6a);
    animation:anima 5s ease-in infinite;
    border: none;
    transition-duration:1s;
    border-top-left-radius:2px;
    border-bottom-left-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-size: 200% 200%;
   } 
@keyframes anima{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.ml{
    line-height:1px;
}

.end{
    height: 26px;
    width: 26px;
    padding-left:5px;
    margin-top:70px;
    text-align:center;
    margin-left:1px ;
    
}
.snd{
    margin-top:20px;
    height: 40px;
    width: 150px;
}

h4{
    font-size:20px;
}

.copyr{
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
}

/* footer end */


@media(max-width:768px){
   
   
    .header{
       position: fixed;
   }
    .ckbt{
    height: 35px;
    width: auto;
    margin-top: 5px;
    margin-right:27px;
    float: right;
    display: block;
    }

    #cheak{
    display: none;
    }
    
    
    
   .lgo{
       transform: scale(0.8);
       margin-left: -40px;
       
   }
   
  .nev{
    display:block;
    width: 250px;
    height: 300px;
    list-style:none;
    text-decoration:none;
    padding-left: 0px;
    margin-top:0px;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: right;
    align-items: right;
    transition-duration: 0.7s;
    margin-left: -540px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(45deg, #ff8800, #fff100, #b9ff00, #50ff00);
    opacity: 0.75;
    background-size: 200% 200%;
    animation: nevi 3s ease-in-out infinite;
  }
  
  @keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

  
  
  #cheak:checked ~ .nev{
        display: block;
        margin-left: -320px;
        transition-duration: 0.7s;
    }
  
 .nev a{
     background-color: rgba(0,0,0,0.0);
     text-align: right;
     height: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 130px;
     padding-right: 30px;
     width: 200px;
     color: black;
     line-height: 60px;
     margin-top: 150px;
     margin-right: 3px;
     font-family: font3;
 }
    .nev li:nth-child(1){
        padding-top: 50px;
        background-color: rgba(0,0,0,0.0);
        margin-top: -50px;
        margin-bottom: 1.5px;
        margin-right: 3px;
    }
    
    .nev li:nth-child(4){
        padding-bottom: 59px;
        background-color: rgba(0,0,0,0.0);
        margin-top: 1.5px;
        margin-bottom: 1.5px;
        border-bottom-right-radius: 15px;
        margin-right: 3px;
    }


   
    /* section 2 */
    
     #signin{
       width: 90%;
   }
   
   .sec3 div{
       width: 90%;
   }
   
  .sec3 input{
      width: 80%;
  }
  
  .sec3 select{
      width: 81%;
  }
  
  /* footer */
  
  .lst{
      display: block;
      justify-content: center;
  }
  
  .fimg2{
      display: none;
  }
  
  .fd1, .fd2{
      text-align: center;
      margin-left: 100px;
      display: inline-block;
  }
  
  .lst h3{
      font-size: 20px;
  }
  
  .ml{
      margin:0 auto;
      text-align: center;
  }
  
  .snd{
      margin-left: 110px;
      font-size: 12px;
  }
  
  footer h6{
      font-size: 12px;
  }
}
