body {
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
}
/* Header start */

@font-face  {
    font-family: 'font3';
    src: url('FulboArgenta-7B9G4.ttf');
}

header{
    height: 70px;
    width: 100%;
    display :flex;
    position:fixed;
    top:0;
    background:linear-gradient(#ffffff,#ffffff);
    z-index: 100;
}

.hd{
    height: 60px;
    width: 100%;
}


img{
    height: 40px;
    width: auto;
    padding: 6px;
    padding-left:50px;
    margin-top:5px;
}

.ckbt{
    height: 40px;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    float: right;
    display: none;
}

#cheak{
    display: none;
}

.nev{
    display: flex;
    flex-direction: right;
    width: 470px;
    list-style:none;
    color: black;
    text-decoration:none;
    display:flex;
    padding-left: 0px;
    margin-top:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, 
#ff5e00, #ff009d, #8f00ff, #0003ff);
    background-size: 200% 200%;
    margin-right: 12px;
    animation: nevi 5s ease infinite;
}


@keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.nev a{
    font-size:15px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-left: 0px;
    margin-right: 2px;
    text-decoration:none;
    color: #000000;
    background-color: white;
    transition: 0.5s ease;
    border: none;
}

.nev:nth-child(3){
    padding-right: 0px;
    margin-right: -2px;
}


.nev a:hover{
    height: auto;
    width: 30px;
    background-color: rgba(0,0,0, 0.0);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: #ffffff;
}

/* Header End*/

.sec1{
    height:500px;
    width:100%;
    background:linear-gradient(#f7f7f7,#f7f7f7);
    display:block;
    padding-top:70px;
    display: flex;
}
.cnt1{
    height:100px;
    width: 50%;
    margin: 50px;
    justify-content:center;
    margin-left:70px;
}
.h1{
    font-size:50px;
    colour:red;
    display:inline-block;
}
p{
    opacity:0.7;
    position:relative;
    top:-10px
    colour:#ff407e;
}
.img1{
    backgrund:linear-gradient(90deg, #5582ff, #aacaff);
    
}

.img10{
    display: none;
}

.png1{
    height:350px;
    width: auto;
    margin-top:60px;
    margin-right:45px;
    transition:all 0.3s ease;
}
.png1:hover{
    transform: scale(1.05);
}
.btn1{
    height:30px;
    width:130px;
    outline:none;
    border:none;
    margin-top:30px;
    background:linear-gradient(45deg, #15b6ff,#95f5ff);
    colour:#ffffff;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #2b6dff), var(--c2, #95e0ff) 51%, var(--c1, #2b6dff)) var(--x2, 0)/ 200%;}

.btn1:hover { --x2: 100%; 
    box-shadow:0px 4px 30px #6acbff;
}

.sec2{
    height:500px;
    width:100%;
    background:linear-gradient(#f7f7f7,#f7f7f7);
    display:flex;
    margin-top:15px;
}

.png2{
    height:350px;
    width: auto;
    margin-top:60px;
    margin-right:50px;
    transition:all 0.3s ease;
    margin-left:17px;
}
.png2:hover{
    transform: scale(1.05);
}
.cnt2{
    margin-right:80px;
    justify-content:center;
}
.h2{
    font-size:50px;
    margin-top:70px;
}
.btn2{
    height:30px;
    width:130px;
    outline:none;
    border:none;
    margin-top:30px;
    background:linear-gradient(45deg, #15b6ff,#95f5ff);
    colour:white;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #ff9d2b), var(--c2, #fff4aa) 51%, var(--c1, #ff9d2b)) var(--x2, 0)/ 200%;}

.btn2:hover { --x2: 100%;
box-shadow:0px 4px 30px #ffbd6a; }

.sec3{
    margin-top:70px;
    text-align:center;
    line-height:20px;
    justify-content: center;
}

.h4{
    margin-top:50px;
}
.pto1{
    height: 260px;
    width:97%;
    display:flex;
    margin-right:0px;
    margin-left: 0px;
    flote:left;
    margin-bottom:20px;
    backgrond:linear-gradient(red,green);
    
    justify-content: center;
    
}
.pto1 img{
    height: 200px;
    width: auto;
    transition-duration:0.5s;
    margin: -10px;
}
.pto1 img:hover{
    transform:scale(1.08);
    transition: all 0.5s ease;
 
    
}
#pdc{
    text-align:center;
    width: 100%;
    height: 50px;
    margin-left:8px;
}
.sec4{
    height: 350px;
    width: 100%;
    display:flex;
    margin-bottom:200px;
    justify-content: center;
    margin-left: -26px;
}

.crd{
    height: 380px;
    width: 200px;
    border:0px solid black;
    background:linear-gradient(#eeeeee,#eeeeee);
    margin-left:93px;
    text-align:center;
    padding-top:10px;
    boeder-radius:5%;
    margin-right:20px;
    transition-duration:1s;
}
.crd:hover{
    transform: scale(1.1);
    transition-duration:1s;
    background:linear-gradient(45deg, #3ce4ee,#9feee4);
    box-shadow:5px 5px -5px -5px #bfffea;
}
.crd:hover .cls{
    border:14px solid #3aafaf;
}

.cls{
    height: 40px;
    width: 40px;
    padding-top:8px;
    padding-left:8px;
    padding-right:6px;
    margin-left:55px;
    padding-bottom:0px;
    border:14px solid #fff;
    border-radius:50%;
    colour:black;
}

.act{
    height: 50px;
    width: 100px;
    list-style:none;
    colour:white;
    padding-left:40px;
    font-size:15px;
    margin-left:5px;
    opacity:0.7;
    
}
.pci{
    margin-top:40px;
    margin-left:2px;
}
.bye1{
    height:30px;
    width: 100px;
    margin-top:-5px;
    margin-left:5px;
    border:none;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #c486e6), var(--c2, #ffeaff) 51%, var(--c1, #c486e6)) var(--x2, 0)/ 200%;}

.bye1:hover { --x2: 100%;
box-shadow:0px 4px 30px #dfd5ff;
    

}
.bye2{
    height:30px;
    width: 100px;
    margin-top:-5px;
    margin-left:5px;
    border:none;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #fff12b), var(--c2, #ffdfaa) 51%, var(--c1, #fff12b)) var(--x2, 0)/ 200%;}

.bye2:hover { --x2: 100%;
box-shadow:0px 4px 30px #dfd5ff;
    

}
.bye3{
    height:30px;
    width: 100px;
    margin-top:-5px;
    margin-left:5px;
    border:none;
    transition-duration:1s;
    border-redius:3px;
    background: linear-gradient(90deg, var(--c1, #dfffd5), var(--c2, #aaffca) 51%, var(--c1, #dfffd5)) var(--x2, 0)/ 200%;}

.bye3:hover { --x2: 100%;
box-shadow:0px 4px 30px #dfd5ff;
    

}

.cc{
    height: 10px;
    width: 165px;
    font-size:25px;
    margin-bottom:30px;
    margin-left:15px;
    
}


/* footer start */

footer{
    height: 220;
    width: 100% !important;
    background-color: black;
    padding-bottom: 20px;
    justify-content: center;
    margin: auto;
}
.lst{
    display: flex;
}
h3{
    colour:#2600a4;
    margin-left:40px;
    font-size:25px;
    height: 20px;
    width:100px;
    
}
.ft1{
    list-style:none;
    margin-left:0px;
}
.fd1{
    margin-left:50px;
    margin-top:20px;
}
.ft1 a{
    text-decoration: none;
}

#ft2{
    list-style:none;
    margin-left:0px;
    padding-right:70px;
}
#ft2 a{
    font-size: 15px;
    text-decoration:none;
}
.fd2{
    margin-left:50px;
    margin-top:20px;
}

.fimg1{
    height: 170px;
    width: auto;
}

.fimg2{
    height: 110px;
    width: auto;
    margin-top:30px;
}

h6{
    font-size:15px;
    height: 10px;
    margin-top:10px;
}

input{
    height: 20px;
    width: 200px;
    margin-top:10px;
    background:linear-gradient(45deg, #ff9d00, #eeff40, #afff6a);
    animation:anima 5s ease-in infinite;
    border: none;
    transition-duration:1s;
    border-top-left-radius:2px;
    border-bottom-left-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-size: 200% 200%;
   } 
@keyframes anima{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.ml{
    line-height:1px;
}

.end{
    height: 26px;
    width: 26px;
    padding-left:5px;
    margin-top:70px;
    text-align:center;
    margin-left:1px ;
    
}
.snd{
    margin-top:20px;
    height: 40px;
    width: 150px;
}

h4{
    font-size:20px;
}

.copyr{
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
}

/* footer end */


@media(max-width:768px){
   .header{
       position: fixed;
       z-index: 100;
   }
    .ckbt{
    height: 35px;
    width: auto;
    margin-top: 5px;
    margin-right: 28px;
    float: right;
    display: block;
    }

    #cheak{
    display: none;
    }
    
   
    
    
   .lgo{
       transform: scale(0.8);
       margin-left: -30px;
   }
   
  .nev{
    display:block;
    width: 250px;
    height: 300px;
    list-style:none;
    text-decoration:none;
    padding-left: 0px;
    margin-top:0px;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: right;
    align-items: right;
    transition-duration: 0.7s;
    margin-left: -520px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(45deg, #ff8800, #fff100, #b9ff00, #50ff00);
    opacity: 0.75;
    background-size: 200% 200%;
    animation: nevi 3s ease-in-out infinite;
  }
  
  @keyframes nevi{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

  
  #cheak:checked ~ .nev{
        display: block;
        margin-left: -320px;
        transition-duration: 0.7s;
    }
  
 .nev a{
     background-color: rgba(0,0,0,0.0);
     text-align: right;
     height: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 130px;
     padding-right: 30px;
     width: 200px;
     color: black;
     line-height: 60px;
     margin-top: 150px;
     margin-right: 3px;
     font-family: font3;
 }
    .nev li:nth-child(1){
        padding-top: 50px;
        background-color: rgba(0,0,0,0.0);
        margin-top: -50px;
        margin-bottom: 1.5px;
        margin-right: 3px;
    }
    
    .nev li:nth-child(4){
        padding-bottom: 59px;
        background-color: rgba(0,0,0,0.0);
        margin-top: 1.5px;
        margin-bottom: 1.5px;
        border-bottom-right-radius: 15px;
        margin-right: 3px;
    }
    
    
    
    
    /* section 1 */

.img1{
    display: none;
}

.img10{
    display: block;
}

.sec1{
    display: inline-block;
}

.img10 img{
    height: 150px;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    margin-left: 67px;
    margin-top: 30px;
}

.cnt1{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.cnt1 h2{
    font-size: 40px;
    text-align: center;
    margin-left: 52px;
}

.cnt1 h6{
    font-size: 15px;
    width: 260px;
    margin-left: 67px;
    margin-top: -10px;
}

.cnt1 button{
    height: 30px;
    width: 100px;
    margin-left: 147px;
    margin-top: 40px;
}


 /* section 2 */
 
.sec2{
    display: inline-block;
    height: 580px;
}

.img2 img{
    height: 150px;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    margin-left: 67px;
    margin-top: 30px;
}

.cnt2{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.cnt2 h2{
    font-size: 40px;
    text-align: center;
    margin-left: 58px;
}

.cnt2 h6{
    font-size: 15px;
    width: 260px;
    margin-left: 67px;
    margin-top: -10px;
}

.cnt2 button{
    height: 30px;
    width: 100px;
    margin-left: 70px;
    margin-top: 60px;
}

/* section 3 */

.pto1{
    display: block;
    height: 700px;
    justify-content: center;
    text-align: center;
    margin-left: -15px;
}

.pto1 img{
    margin-top: 7px;
}

/* section 4 */

.sec4{
    transform: scale(0.65);
    margin-left: 2px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.crd{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.crd:nth-child(3){
    margin-right:0px ;
}



    /* footer */
  
  .lst{
      display: block;
      justify-content: center;
  }
  
  .fimg2{
      display: none;
  }
  
  .fd1, .fd2{
      text-align: center;
      margin-left: 100px;
      display: inline-block;
  }
  
  .lst h3{
      font-size: 20px;
  }
  
  .ml{
      margin:0 auto;
      text-align: center;
  }
  
  .snd{
      margin-left: 110px;
      font-size: 12px;
  }
  
  footer h6{
      font-size: 12px;
  }
} 


}
